body {
    text-align: center;
    background-color: black;
}

#origami1 {
    background-color:aquamarine;
}

#origami2 {
    background-color:aquamarine;
}

#origami3 {
    background-color:aquamarine;
}

#origami4 {
    background-color:aquamarine;
}

